.DS_Store
HTML5\ Speedy\ Video.safariextz
HTML5\ Speedy\ Video.safariextension/*
!HTML5\ Speedy\ Video.safariextension/Info.plist
HTML5\ Speedy\ Video\ Chrome/*
!HTML5\ Speedy\ Video\ Chrome/manifest.json
