
.button {
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7);
    box-shadow: 0 1px 0px rgba(255,255,255,0.1) inset, 0 0px 1px rgba(0,0,0,0.7);
    
    background: rgba(0,0,0,0.1); /* #191919 */
    border: 1px solid #141414;
    padding: 5px 10px;
}
.button:active, .button:focus {
    box-shadow: 0 0 0 transparent inset;
}

.tag {
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-box-shadow: 0 -1px 0px rgba(255,255,255,0.1) inset;
    -moz-box-shadow: 0 -1px 0px rgba(255,255,255,0.1) inset;
    box-shadow: 0 -1px 0px rgba(255,255,255,0.1) inset;
    
    background: rgba(0,0,0,0.2); /* #161616 */
    padding: 5px 10px;
}
.tag:hover {
    background: rgba(0,0,0,0.4); /* #101010 */
}